
.article-single.type-performances  .entry-header{
	margin-bottom:2em;
}

.article-single.type-performances .entry-title{
	line-height: 1em;
    font-size: 26pt;
    margin-bottom:0px;
    padding-bottom:0px;

}

.article-single.type-performances .sub-title{
	line-height: 1em;
    font-size: 22pt;
    margin-bottom:0px;
    text-transform: none;

}

.article-single.type-performances  .bottom-title{
	line-height: 1em;
    font-size: 24pt;
    margin-bottom:0px;
    padding-bottom:.4em;
    font-weight:900 !important;
}

.article-single.type-performances .bottom-subtitle{
	line-height: 1em;
    font-size: 18pt;
    margin-bottom:0px;
    text-transform: none;

}

.article-single.type-performances hr{
	border-top:3px solid #000;
}

.performance-subcontent > div{
	margin-bottom: 1.2em;
}

.performance-subcontent h4{
	font-weight: 900 !important;
	margin-bottom: .5em;
}

.doc-icon{
	font-size:2.5em;
	vertical-align: middle;

}

.performance-meta{
	margin:0px;
	padding:0px;
	margin-top:2em;
}
 .performance-meta > li{
	border-style:solid;
	border-width:0px;
	border-top-width:1px;
	padding:.8em;
	list-style-type:none;
}
 .performance-meta > li:first-child{
	border-top-width:0px;
}

 .performance-meta > li h3{
	display: block;
	float: left;
	width:40%;
	font-size:1em;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	vertical-align: top;
}
 .performance-meta > li p{
	display:inline-block;
	width:60%;
	padding:0px;
	margin:0px;
	vertical-align: top;
}

.performance-data{
	padding-right:2em;

}

@media screen and (max-width: 768px) {
	

	.performance-data{
		padding-left:2em;
		
	}

	.article-single.type-performances  .entry-header,
	.article-single.type-performances  .entry-content{
		padding-left:2em;
		padding-right:2em;
	}
	
	
	
}


