.customize-control-kirki-icons {
	position:relative;
}

.customize-control-kirki-icons label .customize-control-title{
	width: calc(100% - 65px);
	display:inline-block;
	vertical-align: middle;
    
}
.customize-control-kirki-icons .kirki-icon-preview{
	width:30px;
	height:30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    
}
.customize-control-kirki-icons .kirki-icon-preview.open {
	
	border: 1px solid rgba(0, 0, 0, 0.2);
    color:#fff;
    background-color: #ff9933;
    
}
.customize-control-kirki-icons .control-reset {
    color: rgba(0, 0, 0, 0.2);
    position:absolute;
	right:0;
	top:4px;
    transition: color 0.2s ease-in;
}
.customize-control-kirki-icons .control-reset:hover {
	color:#ff9933;
}

.customize-control-kirki-icons .control-reset span {
    font-size: 16px;
    line-height: 22px;
}

.customize-control-kirki-icons  .kirki-icon-preview .siteorigin-widget-icon-icons-icon{
	font-size: 22px;
	text-align: center;
	line-height: 30px;
    width: 30px;
    height: 30px;
}


.icons-container {
	display:none;
}
.kirki-icons-container{
	margin-top:5px;
	border: 1px solid #D8D8D8;
}

.kirki-icons-container .siteorigin-widget-icon-icons-icon.active{
	background-color: #ff9933 !important;
	color: #ffffff !important;
	border: 1px solid rgba(0,0,0,0.2) !important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);

}
.kirki-icons-container .siteorigin-widget-icon-selector{
	display:block !important;
}

.kirki-icons-form-container{
	padding:5px;
}
.kirki-icons-container select.siteorigin-widget-icon-family{
	


}

.kirki-icons-container.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector{
	padding:0 !important;
	margin:0 !important;
	border-width:0px !important;
}
.kirki-icons-container.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons{
	height:250px;
	display:none;
}

.kirki-icons-container.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons.active{
	display:block !important;
}


.kirki-icons-container.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons .siteorigin-widget-icon-icons-icon{
	width: 57px;
    height: 50px;
    margin: 1px;
    padding: 4px 0;
    display:inline-block;
}

.kirki-icons-container.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons .siteorigin-widget-icon-icons-icon.hidden{
	display:none;
}